<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="top-text">
        <div class="title">
            <h1 id="itch-picks-title">ItchPick</h1>
        </div>
        <div class="input">
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input  type="text" placeholder="" id="filter-text-val">
                <img id="filter-image" src="{{ url_for('static', filename='images/filter.png') }}" />
            </div>
            <div class="tags-container" id="tagsContainer">
                <select class="tag-dropdown" id="tagDropdown" onchange="addSelectedTag(this)">
                    <option disabled selected>+ Add Tag</option>
                </select>
            </div>
        </div>
    </div>

    <!-- Modal structure -->
    <div id="modal" class="modal hidden">
        <div class="modal-content">
          <span class="close-button">&times;</span>
          <h2>Additional Filters</h2>
          <p>Developer</p>
          <input  type="text" placeholder="E.g. Angela He" id="developer-text-val">
          <p>Price</p>
          <input type="range" min="0" max="25" value="1" />
        </div>
      </div>

    <div class="gallery" id="gallery">
    </div>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
</body>